/* 全局样式 */
page {
    background-color: #f8f8f8;
    font-size: 16rpx;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
.container {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 200rpx 0;
    box-sizing: border-box;
}
