/* pages/login/login.wxss */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo image {
    width: 150rpx;
    height: 150rpx;
}
.title {
    font-size: 36rpx;
    font-weight: bold;
    margin-bottom: 60rpx;
}
.input-group {
    width: 80%;
}
.input-group input {
    width: 100%;
    height: 80rpx;
    background-color: #ffffff;
    border-radius: 10rpx;
    margin-bottom: 30rpx;
    padding: 0 20rpx;
    box-sizing: border-box;
}
.login-btn {
    width: 80%;
    height: 80rpx;
    background-color: #1aad19;
    color: #ffffff;
    border-radius: 10rpx;
    margin-top: 60rpx;
    display: flex;
    align-items: center;
    justify-content: center;
}
